* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
   
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 40px;
  background: linear-gradient(135deg,rgb(0, 38, 250),rgb(59, 249, 1));
}
header {
  width: 100%;
  max-width: 800px;
  text-align: center;
}
h1 {
  color: rgb(238, 255, 0);
}

header form .search-container {
  margin-top: 20px;
  position: relative;
}
header form .search-container input {
    color: rgb(174, 255, 0);
  width: 100%;
  font-size: 18px;
  padding: 12px 24px;
  border-radius: 20px;
  border: none;
  background:linear-gradient(135deg,rgba(43, 58, 145, 0.694),rgba(61, 214, 15, 0.68));
  box-shadow:linear-gradient(135deg,rgb(3, 41, 255),rgb(61, 255, 2)) ;
}

@media screen and (max-width: 920px) {
    header {
      width: 80%;
    }
  }
header form .search-container .material-symbols-outlined{
   position: absolute;
   right: 10px;
   bottom: 12px;
   color: rgb(0, 59, 253);
   cursor: pointer;
}
.images-container{
    margin-block:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;


}
.images-container img{
    border: 3px solid rgb(174, 255, 0);
    width: 300px;
    height: 280px;
}

.images-container .imageDiv{
    position: relative;
}

.images-container .overlay{
    position: absolute;
    left: 0;
    bottom:0;
    width: 100%;
    height: 0%;
    background-color: rgba(2, 2, 2, 0.459);
    transition: height 0.3s ease  ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageDiv:hover .overlay{
 height: 100%;
}
.imageDiv .overlay h3{
    position: absolute;
    color: rgb(255, 255, 255);
    display: none;
   bottom: 0;
   text-align: center;
   margin-bottom: 10px;
   padding: 10px;
   font-weight: bold;
}

.imageDiv:hover .overlay h3{
   display: block;
}
.loadMoreBtn{
    border:none;
    background-color: #21b421;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
main section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 50px 0;
}
